/* Styles designed for mobile devices */

/****** GENERAL ******/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}


/****** NAVBAR ******/

#nav-content-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-app-title {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

/* .nav-container-item {
} */

.personal-link {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.auth-text {
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
    padding: 0;
}

.nav-lists-wrapper {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-item {
    margin: 5px 0;
}

.list-link {
    color: #37c1f8;
}


/****** MAIN SECTION ******/

#main-container {
    flex: 1;
}

.page-header {
    margin: 30px 0px;
    text-align: center;
    font-weight: bold;
}

.all-items-wrapper {
    display: flex;
    flex-direction: column;
    width: 94vw;
    margin: 0 auto;
}


/****** FOOTER ******/

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.footer-info {
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.footer-link {
    color: #37c1f8;
}

.social-links-wrapper {
    padding-bottom: 20px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

.fa {
    font-size: 26px;
}

.fa-twitter {
    color: #55ACEE;
}

.fa-linkedin {
    width: 30px;
    border-radius: 5%;
    background: #007bb5;
    color: #fff;
    padding-left: 3px;
}

.fa-github {
    color: #fff;
}


/***** ITEMS.HTML ******/

.item-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

.item-image {
    max-width: 50%;
    height: auto;
    object-fit: cover;
}

.item-info-wrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

.item-info {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
    text-align: center;
}

.item-sub-heading, .empty-sub-heading {
    margin-left: 10px;
    text-align: center;
}


/****** LOGIN.HTML and REGISTER.HTML ******/

.login-wrapper, .register-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-wrapper, .register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.login-form-wrapper input, .register-form input {
    margin: 8px 0;
}

.login-password, .login-username, .register-username, .register-password {
    max-width: 250px;
}


/****** CATEGORIES.HTML ******/

.categories-wrapper {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.category-list {
    list-style-type: none;
    margin-top: 30px;
}

.category-item {
    margin: 8px 0;
    text-align: start;
}


/****** ITEM.HTML ******/

.item-detail-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 94vw;
    margin: 0 auto;
}

.item-closed {
    margin-bottom: 10px;
}

.item-detail {
    text-align: center;
}

.control-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.delete-btn, .edit-btn, .active-btn {
    margin: 10px 10px;
}

.item-page-image {
    margin: 20px 0px;
    max-width: 50%;
    height: auto;
    object-fit: cover;
}

.sub-heading {
    margin: 20px 0;
}

.item-winner {
    text-align: center;
    margin-bottom: 10px;
}

.all-comments-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.comment-wrapper {
    margin: 10px 0px;
}

.comment-empty {
    text-align: center;
    margin: 10px auto;
}

.item-comment-form, .item-bid-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.bid-label, .bid-input, .bid-btn {
    margin: 10px 0;
}

.bid-input, .comment-textarea {
    max-width: 250px;
}

.comment-btn {
    margin-top: 20px;
}

.item-back-link {
    margin-bottom: 20px;
}


/****** CREATE.HTML ******/

.create-wrapper, .edit-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.create-form, .edit-form {
    max-width: 94%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.create-form input, .edit-form input, 
.create-description-textarea, .edit-description-textarea, 
.create-category-select, .edit-category-select {
    margin-bottom: 25px;
}

.create-submit-btn, .edit-submit-btn {
    align-self: center;
    justify-self: center;
    margin-bottom: 20px;
}


/****** EDIT.HTML ******/





/****** RESPONSIVE DESIGN FOR DESKTOP SCREENS ******/

@media (min-width: 600px) {

    /*** layout.html ***/

    .navbar-toggler {
        display: none;
    }

    #main-container {
        max-width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }
    
    .collapse {
        display: block !important;
        max-width: 250px;
        flex: 1;
    }

    #page-section-wrapper {
        flex: 3;
    }

    #links-section {
        height: 100%;
        background-color: #081920 !important;
    }

    .all-items-wrapper {
        width: 100%;
    }

    .nav-lists-wrapper {
        flex-direction: column;
    }

    .list-item {
        text-align: center;
    }

    .footer-wrapper {
        flex-direction: row;
        justify-content: space-around;
        padding: 20px 0px;
    }

    .social-links {
        margin: 15px 0px;
    }


    /*** items.html ***/

    .item-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 4fr;
        grid-template-areas:
            "image heading"
            "image item-info"
        ;
    }

    .item-sub-heading {
        grid-area: heading;
    }

    .image-wrapper {
        grid-area: image;
    }

    .item-info-wrapper {
        grid-area: item-info;
    }

    .item-image {
        max-width: 100%;
    }


    /* item.html */

    .item-detail-wrapper {
        margin: 0 50px;
    }

    .item-closed {
        margin-bottom: 30px;
        font-size: 20px;
    }

    .item-winner {
        margin: 30px 0px;
    }

    .all-comments-wrapper {
        align-items: flex-start;
    }

    .card {
        border: none;
        background-color: aliceblue;
    }

    .item-comment-form {
        width: 100%;
    }

    .comment-textarea {
        max-width: 50%;
    }
}

