{% extends "auctions/layout.html" %}

{% block title%}{{ category_name }}{% endblock %}

{% block body %}
<h2>Active Listings for "{{ category_name }}"</h2>
    <!-- Render all listing from the given category -->
    {% for listing in listings %}
        <h3><a href="{% url 'listing' listing.id %}">{{ listing.name }}</a></h3>
        <h4>Starting price: ${{ listing.price }}</h4>
        <p><strong>{{ listing.user.username }}</strong></p>
        <p><strong>{{ listing.category }}</strong></p>
        {% if listing.image_url %}
            <img src="{{ listing.image_url }}" alt="No Image" />
        {% endif %}
        <p>{{ listing.description }}</p>
        <p>{{ listing.date }}</p>
        <br />
        <hr />
    <!-- There may not be active listings for this category yet -->
    {% empty %}
        <h3>No active listings for this category yet.</h3>
    {% endfor %}

    <a href="{% url 'index' %}">Main Page</a>
{% endblock %}