{% extends "auctions/layout.html" %}

{% block title %}Create{% endblock %}

{% block header %}Create {% endblock %}

{% block body %}

    <div class="create-wrapper">
        
        {% if message %}
            <strong class="create-error-message">{{ message }}</strong>
        {% endif %}
    
        <!-- Create a new item form -->
        <form class="create-form" action="{% url 'create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Name of the item (required)-->
            <label class="create-name-label form-label" for="name">Name: </label>
            <input class="create-name-input form-control" type="text" name="name" id="name" placeholder="Item Name" required />
    
            <!-- Description of the item (optional)-->
            <label class="create-description-label form-label" for="description">Item description:</label>
            <textarea class="create-description-textarea form-control" name="description" id="description" placeholder="Item description"></textarea>
            
            <!-- Starting price of the item (required)-->
            <label class="create-price-label form-label" for="price">Starting price($): </label>
            <input class="create-price-input form-control" type="text" name="price" id="price" required />
    
            <!-- Category of the item -->
            <label class="create-category-label form-label" for="category">Category: </label>
            <select class="create-category-select form-select" name="category" size="5" id="category" required>
                {% for category in categories %}
                    <option class="create-category-option" value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
            
            <!-- Image for the item (optional) -->
            <label class="create-image-label form-label" for="image">
                <strong>Optional</strong> Image: 
            </label>
            <input class="create-image-input form-control" type="file" id="image" name="image" placeholder="Image" />
    
            <!-- Submit button -->
            <input class="create-submit-btn btn btn-primary" type="submit" value="Submit" />
        </form>
    </div>

{% endblock %}