{% extends "auctions/layout.html" %}

{% block title %}Item{% endblock %}

{% block header %}{{ item.name }}{% endblock %}

{% block body %}
    <div class="item-detail-wrapper">

        {% if not item.active %}
            <strong class="item-detail item-closed">Item is closed</strong>
        {% endif %}

        <!-- item information and watchlist logic -->
        <p class="item-detail">Category: {{ item.category }}</p>
        <p class="item-detail">Posted by: <strong>{{ item.user.username }}</strong></p>
        <p class="item-detail">Created at: {{ item.created_at }}</p>
    
        <!-- Only show the watchlist options for authenticated users
            whose items don't belong to them (you can't watchlist a
            item you created) and on active items -->
        {% if user.is_authenticated and item.user.id is not user.id and item.active %}
            <form class="watchlist-form" action="{% url 'watch' item.id %}" method="POST">
                {% csrf_token %}
                <!-- Checks if the current user is in the list of all people who has
                    that have this item in their watchlist -->
                {% if user in item.watchlist.all %}
                    <button class="btn btn-secondary watchlist-btn" type="submit">Remove from watchlist</button>
                {% else %}
                    <button class="btn btn-secondary watchlist-btn" type="submit">Add to watchlist</button>
                {% endif %}
            </form>
        {% endif %}
    
        <!-- wraps delete and edit item buttons -->
        <div class="control-buttons">
            <!-- Show delete button to the item creator -->
            {% if user.is_authenticated and item.user.id is user.id %}
                <form class="delete-form" action="{% url 'delete' item.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger delete-btn" type="submit">Delete</button>
                </form>
            {% endif %}
        
            <!-- Show edit link if you're logged in, you're the creator of the item 
                and it's still active -->
        
            {% if user.is_authenticated and item.user.id is user.id and item.active %}
                <a class="btn btn-warning edit-btn" role="button" href="{% url 'edit' item.id %}">Edit</a>
            {% endif %}

            <!-- Only show the 'close/open item' option to the user who made the item -->
            {% if user.is_authenticated and item.user.id is user.id %}
                <form class="active-form" action="{% url 'item' item.id %}" method="POST">
                    {% csrf_token %}
                    <!-- Conditionally render a 'close/open item'
                        depending on whether the item is active -->
                    {% if item.active %}
                        <input class="btn btn-secondary active-btn" type="submit" value="Close item" />
                    {% else %}
                        <input class="btn btn-secondary active-btn" type="submit" value="Open item" />
                    {% endif %}
                </form>
            {% endif %}
        </div>

        {% if item.image %}
            <img class="item-page-image" src="{{ item.image.url }}" alt="{{ item.name }}" />
        {% endif %}
        <p class="item-detail">{{ item.description }}</p>
        <p class="item-detail">Starting price: <strong>${{ item.starting_price }}</strong></p>
        
        <!-- End of item info -->
        

        <!-- Bid section -->

        <!-- Show winner of the bid if the item is closed and there are existing bids -->
        {% if not item.active and max_bid %}
            <h5 class="item-winner text-success">{{ max_bid.user.username }} won the bid with a bid of ${{ max_bid.bid }}!</h5>
        {% endif %}

        <h3 class="sub-heading">Bids</h3>
        
        {% if bids %}
            <table class="item-table table table-dark table-hover table-borderless">
                <thead class="item-table-head">
                    <tr class="item-table-row">
                        <th class="item-table-heading">User</th>
                        <th class="item-table-heading">Bid($)</th>
                        <th class="item-table-heading">Date</th>
                    </tr>
                </thead>
                <tbody class="item-table-body">
                    {% for bid in bids %}
                        <tr class="item-table-row">
                            <td class="item-table-data">{{ bid.user }}</td>
                            <td class="item-table-data">{{ bid.bid }}</td>
                            <td class="item-table-data">{{ bid.bid_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="item-bid-info"><strong>No bids yet for this item.</strong></p>
        {% endif %}
        
        <!-- Only signed in users (except for the one that created the item) may bid
            but only on active items -->
        {% if user.is_authenticated and item.user.id is not user.id and item.active %}
            <form class="item-bid-form" action="{% url 'bid' item.id %}" method="POST">
                {% csrf_token %}
                <label class="bid-label form-label" for="bid">Place your bid($): </label>
                <input class="bid-input form-control" type="number" name="bid" min="{{ next_bid }}" placeholder="{{ next_bid }}" required />
                <input class="bid-btn btn btn-primary" type="submit" value="Add bid" />
            </form>
        {% endif %}
    
        <!-- End of bid section -->
    

        <!-- Comments section -->

        <h3 class="sub-heading">Comments</h3>

        <div class="all-comments-wrapper">
            {% for comment in comments %}
                <div class="card comment-wrapper">
                    <div class="card-body">
                        <h6 class="comment-user card-title">{{ comment.user.username }}</h6>
                        <p class="comment-date card-subtitle text-muted">{{ comment.date }}</p>
                        <p class="comment-comment card-text">{{ comment.comment }}</p>
                    </div>
                </div>
            {% empty %}
                <p class="comment-empty"><strong>No comments yet for this item.</strong></p>
            {% endfor %}
        </div>
    
        <!-- Render the comment form only in active items and on authenticated users -->
        {% if user.is_authenticated and item.active %}
            <form class="item-comment-form" method="POST" action="{% url 'comment' item.id %}">
                {% csrf_token %}
                <label class="item-comment-label form-label" for="comment">Insert a comment: </label>
                <textarea class="comment-textarea form-control" name="comment" id="comment" placeholder="Insert your comment." required></textarea>
                <input class="comment-btn btn btn-primary" type="submit" value="Add comment" />
            </form>
        {% endif %}
    
        <!-- End of comments section -->
    
        <a class="item-back-link" href="{% url 'index' %}">Go back</a>
    </div>
{% endblock %}