{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}" />
    </head>
    <body>
        <header>
            <h1>Auctions</h1>

            <div>
                {% if user.is_authenticated %}
                    <p>Welcome <strong>{{ user.username }}!</strong></p>
                {% else %}
                    <p>Not signed in.</p>
                {% endif %}
            </div>
            
            <div>
                <ul>
                    <li>
                        <a href="{% url 'index' %}">Active Items</a>
                    </li>
                    <li>
                        <a href="{% url 'category' %}">Categories</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">Log Out</a>
                        </li>
                        <li>
                            <a href="{% url 'create' %}">New Item</a>
                        </li>
                        <li>
                            <a href="{% url 'watchlist' user.id %}">Watchlist</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Log In</a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <hr>
        </header>
        
        {% block body %}
        {% endblock %}
    </body>
</html>
