{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}" />
    </head>
    <body>
        <header class='header-wrapper'>
            <h1 class='main-heading'>Auctions</h1>

            <div class='greeting-wrapper'>
                {% if user.is_authenticated %}
                    <p class='greeting-user'>Welcome <strong>{{ user.username }}!</strong></p>
                {% else %}
                    <p class='greeting-user'>Not signed in.</p>
                {% endif %}
            </div>
            
            <div class="nav-wrapper">
                <ul class="nav">
                    <li class='nav-item'>
                        <a href="{% url 'index' %}" class="nav-link">Active Items</a>
                    </li>
                    <li class='nav-item'>
                        <a href="{% url 'category' %}" class="nav-link">Categories</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class='nav-item'>
                            <a href="{% url 'logout' %}" class="nav-link">Log Out</a>
                        </li>
                        <li class='nav-item'>
                            <a href="{% url 'create' %}" class="nav-link">New Item</a>
                        </li>
                        <li class='nav-item'>
                            <a href="{% url 'watchlist' %}" class="nav-link">Watchlist</a>
                        </li>
                    {% else %}
                        <li class='nav-item'>
                            <a href="{% url 'login' %}" class="nav-link">Log In</a>
                        </li>
                        <li class='nav-item'>
                            <a href="{% url 'register' %}" class="nav-link">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <hr>
        </header>
        
        {% block body %}
        {% endblock %}
    </body>
</html>
