{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
            crossorigin="anonymous" 
        />
        <link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}" />
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid nav-content-container">
                <button class="navbar-toggler nav-container-item" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <p class="nav-container-item nav-app-title">Commerce</p>
                <a href="https://joselws.github.io/" target="_blank" class="nav-container-item personal-link">By joselws</a>
            </div>
        </nav>

        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">

                {% if user.is_authenticated %}
                <p class="auth-text">Welcome <strong>{{ user.username }}</strong>!</p>
                {% else %}
                <p class="auth-text">Not signed in</p>
                {% endif %}

                <div class="nav-lists-wrapper">
                    <ul class="nav-ul">
                        <li class="list-item">
                            <a class="list-link" href="{% url 'index' %}">Active Items</a>
                        </li>
                        <li class="list-item">
                            <a class="list-link" href="{% url 'category' %}">Categories</a>
                        </li>
                        <li class="list-item">
                            <a class="list-link" href="{% url 'populars' %}">Most Populars</a>
                        </li>
                    </ul>
    
                    {% if user.is_authenticated %}
                    <ul class="nav-ul">
                        <li class="list-item">
                            <a class="list-link" href="{% url 'create' %}">Create item</a>
                        </li>
                        <li class="list-item">
                            <a class="list-link" href="{% url 'my_items' %}">My items</a>
                        </li>
                        <li class="list-item">
                            <a class="list-link" href="{% url 'watchlist' %}">Watchlist</a>
                        </li>
                        <li class="list-item">
                            <a class="list-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    </ul>
    
                    {% else %}
                    <ul class="nav-ul">
                        <li class="list-item">
                            <a class="list-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="list-item">
                            <a class="list-link" href="{% url 'register' %}">Register</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <header class="page-header">
            <h2 class="page-title">{% block header %}{% endblock %}</h2>
        </header>

        <hr />

        {% block body %}
        {% endblock %}
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
            crossorigin="anonymous">
        </script>
    </body>
</html>
