{% extends "auctions/layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="login-wrapper">
        <h2 class="heading">Login</h2>
    
        {% if message %}
            <p class="login-error-message">{{ message }}</p>
        {% endif %}
    
        <form class="login-form-wrapper" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input autofocus class="login-username" type="text" name="username" placeholder="Username">
            <input class="login-password" type="password" name="password" placeholder="Password">
            <input class="login-btn" type="submit" value="Login">
        </form>

        <p class="login-info">Don't have an account? <a class="link" href="{% url 'register' %}">Register here.</a></p>
    </div>

{% endblock %}