{% extends "auctions/layout.html" %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="register-wrapper">
        <h2 class="heading">Register</h2>
    
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    
        <form class="register-form" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input class="register-username" autofocus type="text" name="username" placeholder="Username">
            <input class="register-password" type="password" name="password" placeholder="Password">
            <input class="register-password" type="password" name="confirmation" placeholder="Confirm Password">
            <input class="register-btn" type="submit" value="Register">
        </form>
    
        <p class="register-info">Already have an account? <a class="link" href="{% url 'login' %}">Log In here.</a></p>
    </div>

{% endblock %}