{% extends "auctions/layout.html" %}

{% block title %}Watchlist{% endblock %}

{% block body %}
    <h2>Your Watchlist</h2>
    <!-- Render all available listings -->
    {% for listing in listings %}
        <h3><a href="{% url 'listing' listing.id %}">{{ listing.name }}</a></h3>
        <h4>Starting price: ${{ listing.price }}</h4>
        <p><strong>{{ listing.user.username }}</strong></p>
        <p><strong>{{ listing.category }}</strong></p>
        {% if listing.image_url %}
            <img src="{{ listing.image_url }}" alt="No Image" />
        {% endif %}
        <p>{{ listing.description }}</p>
        <p>{{ listing.date }}</p>
        <br />
        <hr />
    {% empty %}
        <h3>You don't yet have any listing in your Watchlist.</h3>
    {% endfor %}

    <a href="{% url 'index' %}">Go back</a>
{% endblock %}